<div>
    <table class="table-menu">
        <tbody>
        <tr>
            <td class="dropdown" colspan="2">
                <a class="dropdown-toggle" href="/question/">Question</a>
            </td>
            <td class="dropdown" colspan="2">
                <a class="dropdown-toggle" href="/questionnaire/">Questionnaire</a>
            </td>
            <td><a href="/admin/">Admin</a></td>
        </tr>
        <tr class="secondary-dir">
            <td class="dropdown">
                <a class="dropdown-toggle" href="/question/share-my-question/">Share</a>
            </td>
            <td class="dropdown">
                <a class="dropdown-toggle" href="/question/question-list/">List</a>
            </td>
            <td><a href="/questionnaire/generate-questionnaire/">Generate</a></td>
            <td><a href="/questionnaire/questionnaire-history/">History</a></td>
        </tr>
        </tbody>
    </table>
</div>
