{% extends "base.html" %}

{% load show_paginator %}

{% block title %}Question List{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/shredder.question.js"></script>
{% endblock %}

{% block content %}
<div class="content" id="id_question_list">
    {% for pk, form in pk_forms.items %}
    <div id="id_question_{{ pk }}">
        <div class="question-display">
            <div>
            <label>{{ form.tag_list.label }}</label>
            <span id="id_{{ form.tag_list.name }}"></span>
            </div>
            <div>
            <label>{{ form.difficulty.label }}</label>
            <span id="id_{{ form.difficulty.name }}" class="question-field"></span>
            </div>
            <div>
            <label>{{ form.estimated_time.label }}</label>
            <span id="id_{{ form.estimated_time.name }}" class="question-field"></span>
            </div>
            <div>
            <label>{{ form.status.label }}</label>
            <span id="id_{{ form.status.name}}" class="question-field"></span>
            </div>
            <div>
            <label>{{ form.creator.label }}</label>
            <span id="id_{{ form.creator.name }}" class="question-field"></span>
            </div>
            <div>
            <label>{{ form.date_updated.label }}</label>
            <span id="id_{{ form.date_updated.name }}" class="question-field"></span>
            </div>
            <div>
            <label>{{ form.description.label }}</label>
            <br><span id="id_{{ form.description.name }}" class="question-field"></span>
            </div>
            <input type='button' class="js-question-review-button" value="Review"/>
        </div>
        <div class="review-form hidden" id="id_question_form_{{ pk }}">
            <form id="id_review_question_form_{{ pk }}" class="review-question-form" name="review_question_form" action="{% url question_review pk %}">
                {% csrf_token %}
                <div class="form-post-part">
                    <div>
                    <label>{{ form.tag_list.label }}</label>
                    {{ form.tag_list.errors }}
                    <span id="id_{{ form.tag_list.name }}" class="question-field">{{ form.tag_list }}</span>
                    </div>
                    <div>
                    {% for tag in tag_cloud %}
                    <div class="tag-cloud" id="id_{{ tag.name }}">
                    {{ tag.name }}
                    </div>
                    {% empty %}
                    <p>No tags display.</p>
                    {% endfor %}
                    </div>
                    <div>
                    <label>{{ form.difficulty.label }}</label>
                    {{ form.difficulty.errors }}
                    <span id="id_{{ form.difficulty.name }}" class="question-field">{{ form.difficulty }}</span>
                    </div>
                    <div>
                    <label>{{ form.estimated_time.label }}</label>
                    {{ form.estimated_time.errors }}
                    <span id="id_{{ form.estimated_time.name }}" class="question-field">{{ form.estimated_time }}</span>
                    </div>
                    <div>
                    <label>{{ form.status.label }}</label>
                    {{ form.status.errors }}
                    <span id="id_{{ form.status.name}}" class="question-field">{{ form.status }}</span>
                    </div>
                    <div class="hidden">
                    <label>{{ form.creator.label }}</label>
                    <span id="id_{{ form.creator.name }}" class="question-field">{{ form.creator }}</span>
                    </div>
                    <div class="hidden">
                    <label>{{ form.date_updated.label }}</label>
                    <span id="id_{{ form.date_updated.name }}" class="question-field">{{ form.date_updated }}</span>
                    </div>
                    <div>
                    <label>{{ form.description.label }}</label>
                    {{ form.description.errors }}
                    <br><span id="id_{{ form.description.name }}" class="question-field">{{ form.description }}</span>
                    </div>
                </div>
                <input type='submit' class="js-question-form-submit" value="Submit"/>
                <input type='button' class="js-question-form-cancel" value="Cancel"/>
            </form>
        </div>
    <hr>
    </div>
    {% empty %}
    <p>No question found.</p>
    {% endfor %}

    {% show_paginator reports %}

</div>
{% endblock %}
