/* CSS Document */

@charset "UTF-8";
/*customize css from Weitao Zhou <zhouwtlord@gmail.com>*/
/*table*/
.table1 textarea{width: 350px; height: 80px}
.table1 td{text-align: left}
.table1 th{text-align: left}

label{
	font-weight: bold;
}
ul li {display: inline;}
div.tag-cloud {color:red;}
div.tag-cloud:hover {background:yellow;}
input[readonly="readonly"]{background-color: lightgray;}
.hidden { display: none;}
textarea {width: 350px; height:110px}
