<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Auto Generate Questions</title>
    <style type="text/css">
        button{
            height: 30px;
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>Auto Generate Questions</h1>
    <hr size="1">
    <hr size="1">
    <hr size="1">
    <h2>manually choose part</h2>
    <hr style="width:250px" align="left">
    <div class="question-list-form" align="center">
        <div>
            <p align="left">
                <strong>Title:</strong> list question 1's title <strong>Postion: </strong> Python Developer
                <br>
                <strong>Estimated time: </strong> 30 mins 
            </p>
            <p>
                <strong>Description: </strong>
                 <br> the first question's description
                 <br> You know, It's just a demo
                 <br> the demo for multiple lines
            </p>
            <p align="right">
            <button> Edit</button>
            <button>Delete</button>
            <button> Move Up</button>
            <button>Move Down</button>
            </p>
        </div>
        <hr size="1" style="color:#1FFF99"/>
        <div>
            <p align="left">
                <strong>Title:</strong> list question 2's title <strong>Postion: </strong> Java Developer
                <br>
                <strong>Estimated time: </strong> 30 mins 
            </p>
            <p>
                <strong>Description: </strong>
                 <br> the 2nd question's description
                 <br> You know, It's just a demo
                 <br> the demo for multiple lines
            </p>
            <p align="right">
            <button> Edit</button>
            <button>Delete</button>
            <button> Move Up</button>
            <button>Move Down</button>
            </p>
        </div>
        <hr size="1">
        <div>
            <p align="center">
            <button>Add One</button>
            </p>
        </div>
    </div>
    <hr size="1">
    <hr size="1">
    <h2>auto-generate part</h2>
    <hr style="width:250px" align="left">
    <div>
        <h3>auto-generate setting</h3>
        <div>
            <p>Position
                <select id="id_" name="">
                    <option selected="selected" value="Python">Python Developer</option>
                    <option value="C++">C++ Developer</option>
                    <option value="C++">All</option>
                    <option value="Ruby">Ruby Developer</option>
                    <option value="Perl">Perl Developer</option>
                    <option value="Java">Java Developer</option>
                </select>
            </p>
        </div>
        <div>
           <table align="center" width="1000">
            <thead align="left">
                <tr>
                    <th>estimated time</th>
                    <th>proportion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>15mins~25mins</td>
                    <td>
                        <input value="20%">
                    </td>
                </tr>
                <tr>
                    <td>25mins~35mins</td>
                    <td>
                        <input value="20%">
                    </td>
                </tr>
                <tr>
                    <td>35mins~45mins</td>
                    <td>
                        <input value="20%">
                    </td>
                </tr>
                <tr>
                    <td>45mins~60mins</td>
                    <td>
                        <input value="40%">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p>
        <button>generate</button>
        </p>
    </div>
    </div>
    <hr size="1">
    <hr size="1">
    <div>
        <p align="center">
        <button onclick="window.location.href='questions-print-preview.html'"> Print Preview</button>
        </p>
    </div>
</div>
</body>
</html>
