{% extends "base.html" %}

{% block title %}Generate Questionnaire{% endblock %}

{% block content %}
<div class="content">
    <form class="generate-questionnaire-form"  name="generate_questionnaire_form" method="POST" action="{% url generate_questionnaire %}">
        {% csrf_token %}
        <div class="form-post-part">
            <div>
                <label>{{ form.name.label }}</label>
                {{ form.name.errors }}
                {{ form.name }}
            </div>
            <div>
                <label>{{ form.description.label }}</label>
                {{ form.description.errors }}
                {{ form.description }}
            </div>
            <div>
                <label>{{ form.time_used.label }}</label>
                {{ form.time_used.errors }}
                {{ form.time_used }}
            </div>
            <div>
                <label>{{ form.position.label }}</label>
                {{ form.position.errors }}
                <span id="id_{{ form.position.name }}" class="generate-set-field">{{ form.position }}</span>
            </div>
            <div>
                <label>{{ form.tag_list.label }}</label>
                {{ form.tag_list.errors }}
                <span id="id_{{ form.tag_list.name }}" class="generate-set-field">{{ form.tag_list }}</span>
            </div>
            <div>
                {% for tag in tag_cloud %}
                <div class="tag-cloud" id="id_{{ tag.name }}">
                {{ tag.name }}
                </div>
                {% empty %}
                <p>No tags display.</p>
                {% endfor %}
            </div>
            <!--TODO (weizhou) max&min value auto-refresh as tag selected-->
            {% for field in form %}
            {% ifequal field.name|slice:":5" "level" %}
            <div>
                <label>{{ field.label }}</label>
                {{ field.errors }}
                <span id="id_{{ field.name }}" class="generate-set-field">{{ field }}</span>
            </div>
            {% endifequal %}
            {% endfor %}
            <div class="hidden">
                {{ form.question_order }}
            </div>
        </div>
        <input class="js-questionnaire-form-generate" name="questionnaire_generate" type="submit" value="Generate"/>
        <input class="js-questionnaire-form-save" name="questionnaire_save" type="submit" value="Save"/>
    </form>
    <div class="generated-questionnaire"></div>
</div>
{% endblock %}
