<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Generated Questions Print</title>
    <style type="text/css">
        button{
            height: 30px;
            width: 150px;
        }
        .question-list-form textarea{
            height: 100px;
        }
    </style>
</head>
<body>
    <h1> RedHat Pen Test </h1>
    <hr size="1">
    <div align="left">
        <textarea value="additional requirements" cols="100">additional requirements</textarea>
    </div>
    <hr size="1">
    <h2> candidate base info: </h2>
    <div>
        <table>
            <tr>
                <td>Name: _____________</td>
                <td>Apply For Position: ___________Python/java developer</td>
            </tr>
            <tr>
                <td>Mobile Phone:____________</td>
                <td>Grade: ______</td>
            </tr>
        </table>
    </div>
    <hr size="1">
    <h2> questions: </h2>
    <div class="question-list-form" align="center">
        <div>
            <p align="left">
                <strong>Title:</strong> list question 1's title <strong>Postions: </strong> Python Developer
                <br>
                <strong>Estimated time: </strong> 30 mins 
            </p>
            <p>
                <strong>Description: </strong>
                 <br> the first question's description
                 <br> You know, It's just a demo
                 <br> the demo for multiple lines
                 <br> the demo for multiple lines
            </p>
        </div>
        <hr size="1" style="color:#1FFF99"/>
        <div>
            <p align="left">
                <strong>Title:</strong> list question 2's title <strong>Postions: </strong> Java Developer
                <br>
                <strong>Estimated time: </strong> 30 mins 
            </p>
            <p>
                <strong>Description: </strong>
                 <br> the 2nd question's description
                 <br> You know, It's just a demo
                 <br> the demo for multiple lines
                 <br> the demo for multiple lines
            </p>
        </div>
        <hr size="1" style="color:#1FFF99"/>
        <div>
            <p align="left">
                <strong>Title:</strong> list question 3's title <strong>Postions: </strong> C++ Developer
                <br>
                <strong>Estimated time: </strong> 30 mins 
            </p>
            <p>
                <strong>Description: </strong>
                 <br> the 3rd question's description
                 <br> You know, It's just a demo
                 <br> the demo for multiple lines
                 <br> the demo for multiple lines
            </p>
        </div>
        <hr size="1" style="color:#1FFF99"/>
        <div>
            <p align="left">
                <strong>Title:</strong> list question 4's title <strong>Postions: </strong> Java Developer
                <br>
                <strong>Estimated time: </strong> 30 mins
            </p>
            <p>
                <strong>Description: </strong>
                 <br> the 5th question's description
                 <br> You know, It's just a demo
                 <br> the demo for multiple lines
                 <br> the demo for multiple lines
            </p>
        </div>
        <hr size="1" style="color:#1FFF99"/>
    </div>
    <div align="center">
        <button value="Save">Save me to history</button>
        <button value="Print">Print me</button>
    </div>
    <table align="center">
        <tbody>
        <tr valign="top">
            <td><a href="#">1</a></td>
            <td><a href="#">2</a></td>
            <td><a href="#">3</a></td>
            <td><a href="#">4</a></td>
            <td><a href="#">5</a></td>
            <td><a href="#">6</a></td>
            <td>7</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
